*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

header {
    padding: 20px 40px;
    text-align: center;
    background-color: lightcyan;
}

header h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.add-book-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    width: 23%;
    min-width: 200px;
    border: 1px solid black;
    padding: 10px 14px;
    background-color: white;
}

.add-book-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

#modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#modal-form input {
    border: 1px solid black;
}

input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border: 1px solid black;
    width: 34px;
    height: 16px;
    border-radius: 14px;
    transition: background-color .3s;
    outline: none;
    cursor: pointer;
}

input[type=checkbox]::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: gray;
    transition: left .3s;
}

input[type=checkbox]:checked {
    background-color: greenyellow;
}

input[type=checkbox]:checked::after {
    left: 75%;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.main-body {
    display: flex;
    gap: 20px;
}

.library-card {
    height: 200px;
    width: 400px;
    border: 1px solid black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: lightcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-credits {
    position: fixed;
    right: 5px;
    bottom: 2px;
}